.home{
    width: 100%;
    height: 120vh;
    display: flex;
    /* border: 1px solid black; */
}
.homeLeft{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.homeRight{
    width: 50%;
    height: 100%;
    
    
}
.imageBox{
    width: 30vw;
    height: 90vh;
}
.developer{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;

}
.rightTitle{
    height: 50vh;
    width: 90%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    font-size: 4rem;
    font-family: var(--bodyFont);
    margin-top: 10vh;
    line-height: 1;
}
.rightText{
    width: 100%;
    height: 40vh;
    /* border: 1px solid red; */
    display: flex;
}
.rightText1{
    width: 70%;
    height: 100%;
}
.rightIcon{
    width: 30%;
    height: 100%;
    /* border: 1px solid red; */
}
.rightText2{
    width: 100%;
    height: 75%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-family: var(--bodyFont);

}
.resume{
    height: 9vh;
    background-color: #000;
    color: #fff;
    padding: .7rem;
    margin-top: 3vh;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    font-family: var(--bodyFont);
    cursor: pointer;

}
.resume:hover{
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}
.link{
    color: #fff;
    display: flex;
}
.link:hover{
    color: #000;
}