.education{
    width: 100%;
    height: 150vh;
}
.educationTitle{
    height: 30vh;
    width: 100%;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--bodyFont);
    font-weight: 600;
}
.educationDetails{
    height: 100vh;
    width: 40%;
    margin: auto;
    /* border: 1px solid red; */
    padding: 2vh;
    font-family: var(--bodyFont);
    display: flex;
}
.degree{
    font-size: 2rem;
    font-weight: 600;
}
.time{
    color: grey;
}

.list{
    margin-top: 5vh;
}
.line{
    width: 4px;
    height: 100%;
    background-color: #000;
    position: relative;
    left: -3vw;
}