.footer{
    height: 15vh;
    width: 100%;
    border-top: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footerText{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-family: var(--bodyFont);
}
.darkFooter{
    height: 15vh;
    width: 100%;
    border-top: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #000;
    color: #fff;
}