@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: #000;
}
li{
  list-style: none;
}
:root{
  --bodyFont:'Poppins', sans-serif;
}