.navbar{
    font-family: var(--bodyFont);
    width: 100%;
    height: 10vh;
    display: flex;
}
.navbarLeft{
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navbarMiddle{
    width: 33%;
    height: 100%;
    border: 10x solid black;
    display: flex;
    justify-content: center;
    align-items: center;

}
.navbarRight{
    width: 33%;
    height: 100%;
    border: 10x solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo{
    height: 9vh;
    width: 9vh;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;
    border: 1px solid #fff;
}
.icons{
    width: 6vh;
    height: 6vh;
    cursor: pointer;
}
.link >a{
    color: #000;
}
.darkLink >a{
    color: #fff;

}
.darkNavbar{
    font-family: var(--bodyFont);
    width: 100%;
    height: 10vh;
    display: flex;
    background-color: #000;
    color: #fff;
}